<h1>New User</h1>

<form action="/check" method="POST">
  <input name="age" />
  <button type="submit">Verify</button>
</form>

{% if emptyAge %}
<p>AGE could not be empty!</p>
{% endif %}

{# <a href="/">list users</a> #}
